@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;500;700&display=swap");
html {
  scroll-behavior: smooth;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: black;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Condensed", serif;
}

::-webkit-input-placeholder {
  color: #3a3a3a;
}

:-ms-input-placeholder {
  color: #3a3a3a;
}

::-ms-input-placeholder {
  color: #3a3a3a;
}

::placeholder {
  color: #3a3a3a;
}

.home-landing {
  text-align: center;
}

.home-landing h1 {
  font-family: "Barlow Condensed", serif;
  font-size: 4rem;
  font-weight: 600;
}

.home-landing h3 {
  font-family: "Barlow Condensed", serif;
  font-size: 2rem;
}

.home-landing {
  background-image: url("../images/landing-bg-mobile.jpg");
  max-width: none;
  background-size: cover;
}

.home-landing ::-webkit-input-placeholder {
  color: white;
}

.home-landing :-ms-input-placeholder {
  color: white;
}

.home-landing ::-ms-input-placeholder {
  color: white;
}

.home-landing ::placeholder {
  color: white;
}

.home-landing .landing-card {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 800px;
  border-radius: 10px;
}

.home-landing .landing-card img {
  max-width: 150px;
}

.home-landing .landing-card a:hover {
  text-decoration: underline;
}

.home-landing .form img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.home-landing .form {
  text-align: center;
}

.home-landing input {
  background: 0;
  width: 200px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}

.home-landing input[type="submit"] {
  border: 0;
  border-radius: 8px;
  padding-bottom: 0;
  height: 60px;
  background: #df2359;
  color: white;
  cursor: pointer;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.home-landing input[type="submit"]:hover {
  background: #C0392B;
}

@media only screen and (min-width: 992px) {
  .home-landing:hover:before {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .home-landing:before {
    background-color: rgba(0, 0, 0, 0);
    content: "";
    height: calc(100vh - 56px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 56px;
    z-index: 1;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
  }
  .home-landing,
  .all-landing {
    height: calc(100vh - 56px);
    background-size: cover;
    -webkit-transition: all linear 0.7s;
    transition: all linear 0.7s;
  }
  .home-landing .container,
  .all-landing .container {
    height: 100%;
    max-width: 1320px;
    margin: 0 auto;
  }
  .home-landing .home-landing-text,
  .all-landing .home-landing-text {
    z-index: 1;
  }
  .home-landing .home-landing-text h1,
  .all-landing .home-landing-text h1 {
    font-family: "Barlow Condensed", serif;
    font-size: 8rem;
    font-weight: 600;
  }
  .home-landing .home-landing-text h3,
  .all-landing .home-landing-text h3 {
    font-family: "Barlow Condensed", serif;
    font-size: 3rem;
  }
  .home-landing {
    background-image: url("../images/landing-bg.jpg");
  }
  #register-landing {
    background-image: url("../images/landing-bg.jpg") !important;
  }
  #categories-landing {
    background-image: url("../images/categories-landing-bg.jpg") !important;
    height: 500px;
  }
  #following-landing {
    background-image: url("../images/following-landing-bg.jpg") !important;
    height: 500px;
  }
  #login-landing {
    background-image: url("../images/following-landing-bg.jpg") !important;
  }
}

#live-games h1,
#live-games h6 {
  color: white;
}

.netflix-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100%)[3];
      grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}

.netflix-wrapper section {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
}

.netflix-wrapper section .item {
  padding: 0 2px;
  -webkit-transition: 250ms all;
  transition: 250ms all;
  position: relative;
  color: white;
}

.netflix-wrapper section .item:hover {
  margin: 0 40px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.netflix-wrapper section .item .bottom-left {
  position: absolute;
  bottom: 20px;
  left: 40px;
}

.netflix-wrapper section a {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.netflix-wrapper section a:nth-of-type(1) {
  top: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.netflix-wrapper section a:nth-of-type(2) {
  top: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

@media only screen and (max-width: 600px) {
  a.arrow__btn {
    display: none;
  }
}

#intro h1 {
  font-size: 6rem;
  font-weight: 600;
}

#intro img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

#categories {
  margin: 0 auto;
  max-width: 708px;
}

#categories .category-row img {
  -o-object-fit: center;
     object-fit: center;
}

iframe {
  margin: 0 auto;
}

.category-title {
  font-size: 6rem;
  font-weight: 600;
}

.img-cell {
  position: relative;
  border: 1px solid black;
}

.img-cell img {
  max-width: 100%;
  max-height: 100%;
}

.img-cell:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(223, 35, 89, 0.7);
  z-index: 9;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  z-index: 100;
}

#new-carousel {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}

#new-carousel .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 600px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#new-carousel .grid .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 8px;
  margin: 0 4px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#new-carousel .grid .item .item-image img {
  max-width: 100%;
}

#evaluate-container {
  height: 100vh;
  background-size: cover;
  -webkit-transition: all linear 0.7s;
  transition: all linear 0.7s;
}

#evaluate-container .container {
  height: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

#evaluate-container .note {
  max-width: 500px;
  color: #979797;
}

#evaluate-container input {
  background: 0;
  width: 200px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin: 20px auto;
  padding-bottom: 10px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}

#evaluate-container input {
  width: 500px !important;
}

#evaluate-container button {
  width: 150px;
  height: 30px;
}

#evaluate-container ul {
  list-style: none;
}

#evaluate-container #yes-lowercase,
#evaluate-container #yes-uppercase,
#evaluate-container #yes-numeric,
#evaluate-container #yes-special {
  display: none;
}

#evaluate-container li {
  font-size: 15px;
}

.g-recaptcha {
  margin: 20px 0;
}

.errorlist {
  color: red;
}
/*# sourceMappingURL=style.css.map */