{% extends 'LoginSystem/main.html' %} 
{% load static %}
{% block content %}

<section class="all-landing d-flex flex-column justify-content-center align-items-center" id="categories-landing">
    <div class="container row ">
        <div class="home-landing-text col-lg-8 col-sm-12 d-flex flex-column justify-content-center ">            
            <h1 class="home-landing-main">Categories</h1>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-lg-4  col-sm-12 d-flex flex-column justify-content-center">                        
                                
        </div>            
    </div>
        
</section>
 
   
<section class="my-5 gx-0 " id="categories">
    <div class="container" > 
        <div class="row gx-0">
            <h1 class="col-11">Categories</h1>
            
        </div>
        <div class="row category-row gx-0">
            <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo1.jpg' %}" alt="Describe Image">
                <a class="link" href="/IndividualStream/1"></a>
            </div>
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo2.jpg' %}" alt="Describe Image">
            </div>
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo3.jpg' %}" alt="Describe Image">
            </div>
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo5.jpg' %}" alt="Describe Image">
            </div>
            <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo6.jpg' %}" alt="Describe Image">
            </div>
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo7.jpg' %}" alt="Describe Image">
            </div>
        </div>
        <div class="row category-row gx-0">            
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo9.jpg' %}" alt="Describe Image">
            </div>
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo8.jpg' %}" alt="Describe Image">
            </div>
            
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo11.jpg' %}" alt="Describe Image">
            </div>
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo10.jpg' %}" alt="Describe Image">
            </div>
            
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo12.jpg' %}" alt="Describe Image">
            </div>
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo4.jpg' %}" alt="Describe Image">
            </div>
        </div>
        <div class="row category-row gx-0">
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo14.jpg' %}" alt="Describe Image">
            </div>
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo13.jpg' %}" alt="Describe Image">
            </div>
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo15.jpg' %}" alt="Describe Image">
            </div>
            <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo17.jpg' %}" alt="Describe Image">
            </div>
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo16.jpg' %}" alt="Describe Image">
            </div>
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo19.jpg' %}" alt="Describe Image">
            </div>
        </div>
        <div class="row category-row gx-0">
            
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo2.jpg' %}" alt="Describe Image">
            </div>
            <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo1.jpg' %}" alt="Describe Image">
            </div>
            
            <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo5.jpg' %}" alt="Describe Image">
            </div>
            <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo3.jpg' %}" alt="Describe Image">
            </div>
            
            <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo7.jpg' %}" alt="Describe Image">
            </div>
                <div class="col-lg-2 img-cell">
                <img src="{% static 'images/logo/logo6.jpg' %}" alt="Describe Image">
            </div>
        </div>
    </div>
</section>



{% endblock %}
