{% extends 'LoginSystem/main.html' %} 
{% load static %}
{% block content %}

<section class="main-video-container container">
        <h1 class="category-title">Soccer Main Stream</h1>
        <h1 class="col-11">Germany vs Brazil</h1>
         <iframe width="1228" height="691" src="https://www.youtube.com/embed/ceqgwo7U28Y?autoplay=1" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="video-title">
        
    </div>
    
    </section>
    <section class="my-5 container d-flex justify-content-center" >
        
        <div id="new-carousel">
        <h2>Other Live Streams</h2>
        <div class="grid d-flex ">
            <div class="item">
               <div class="item-image">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/ceqgwo7U28Y?autoplay=1" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="item-content">
                    <h4 class="item-content-title">
                        Football (Men)
                    </h4>
                    <p class="item-content-description">
                        England vs Italy
                    </p>
                </div>
            </div>
            
            <div class="item">
                <div class="item-image">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/-5KAN9_CzSA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                      
                </div>
                <div class="item-content">
                    <h4 class="item-content-title">
                        Football (Men)
                    </h4>
                    <p class="item-content-description">
                        Japan vs S. Korea
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/ORBwkXsUNEs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="item-content">
                    <h4 class="item-content-title">
                        Football (Men)
                    </h4>
                    <p class="item-content-description">
                        Mexico vs USA
                    </p>
                </div>
            </div>
            <div class="item">
               <div class="item-image">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/ceqgwo7U28Y?autoplay=1" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="item-content">
                    <h4 class="item-content-title">
                        Football (Women)
                    </h4>
                    <p class="item-content-description">
                        Spain vs Sweden
                    </p>
                </div>
            </div>
            <div class="item">
               <div class="item-image">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/ceqgwo7U28Y?autoplay=1" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="item-content">
                    <h4 class="item-content-title">
                        Football (Women)
                    </h4>
                    <p class="item-content-description">
                        Egypt vs China
                    </p>
                </div>
            </div>
            
        </div>
        </div>
    </section>






{% endblock %}