{% load static %}
<nav class="navbar  sticky-top navbar-expand-lg navbar-dark bg-dark shadow-sm">
            <div class="container px-3">
                <a class="navbar-brand " href="/home">Password Evaluation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                <i class="bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'register' %}">Register</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'login' %}">Sign In</a>
                        </li>              
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-fw fa-user"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a href="{% url 'dashboard' %}"><h4 class="dropdown-item " id="userDisplayName2" >{{request.user}}</h4></a></li>
                                <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-gear"></i> Settings</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'logout'%}" id="btnLogout"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</a></li>
                            </ul>
                        </li>                   
                                                     
                    </ul>                   
                </div>
            </div>
 </nav>